{% extends 'todolistapp/base.html' %}

{% block content %}

<table class="table table-striped table-responsive table-bordered">

    <thead>
        <tr>
            <th>Todo</th>
            <th>Done</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ todo.todo }}</td>
            <td>{{ todo.done }}</td>
            <td>{{ todo.created_at }}</td>
        </tr>
    </tbody>
</table>
    <a href="/">
    <input class='btn btn-primary' name="" type="button" value="Voltar">
</a>

{% endblock %}