{% extends 'todolistapp/base.html' %}
{% block content %}
{% load static %}

<a href="{% url 'todolistapp:todo_new' %}">
    <input class='btn btn-primary' name="" type="submit" value="Novo">
</a><br/><br/>

<table class="table table-striped table-responsive table-bordered">

    <thead>
        <tr>
            <th>Todo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for todo in object_list %}
            {% if todo.done == True %}
            <tr id="tr_{{ todo.done }}">
                <td ><a href="{% url 'todolistapp:todo_detail' todo.id %}"><strike>{{ todo.todo }}</strike></a></td>
                <td>
                  <a href="edit/{{ todo.id }}"><i class="far fa-edit"></i></a>
                  <a href="delete/{{ todo.id }}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            {% else %}
            <tr id="tr_{{ todo.done }}">
                <td><a href="/{{ todo.id }}">{{ todo.todo }}</a></td>
                <td>
                  <a href="edit/{{ todo.id }}"><i class="far fa-edit"></i></a>
                  <a href="delete/{{ todo.id }}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            {% endif %}
            {% empty %}
            <td> Nothing Here yet </td>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript" src="{% static "todolistapp/js/main.js" %}"></script>

{% endblock %}
